<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images\logo1.ico" type="image/x-icon">
    <title>Emo Music</title>
    <script
      src="https://kit.fontawesome.com/014cb56c5c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="stylesheets\styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <nav id="navbar">
        
        <a href="/home" style="text-decoration: none">
        <div id="logo">
          <img src="images\mello.svg" alt="emoji" />
          <h1 class="title-h1">EmoMusic</h1>
        </div>
      </a>
      
        <div class="navigation-elements">
          <ul>
            <li class="item"><a href="/home">Home</a></li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
