<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Creating a contact us page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
      src="https://kit.fontawesome.com/014cb56c5c.js"
      crossorigin="anonymous"
    ></script>
        <link rel="stylesheet" type="text/css" href="stylesheets\contact1.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
        <title>Emo Music</title>
    </head>
    <body>
        <div>
            <nav id="navbar">
                <a href="/home" style="text-decoration: none;">
                <div id="logo">
                    <img src="images\mello.svg" alt="emoji">
                    <h1 class="title-h1">Emo Music</h1>
                </div>
                </a>
                <div class="navigation-elements">
                    <ul>
                        <li class="item"><a href="/home">Home</a></li>
                        <li class="item"><a href="/about">About</a></li>
                        <li class="item"><a href="/login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="main-container">
            <div class="header">
                <h1><b>Our Team</b></h1>
            </div>
            <div class="container">
            <div class="teams">
                <img src="images\male2.svg" alt="">
                <div class="name">Sahaj Ghatiya</div>
                <div class="desig">Developer</div>
                <div class="about">An undergraduate CSE(AIML) student at SRMIST. I am currently learning Full Stack Web Development and Machine Learning.</div>

                <div class="social-links">
                    <a href="mailto:sahajghatiya531.sg@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/sahaj-ghatiya169/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/sahaj169" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="teams">
                <img src="images\female.svg" alt="">
                <div class="name">Aramreddy Harichandana</div>
                <div class="desig">Team Head</div>
                <div class="about">Hello, this is HariChandana, I'm a CSE student from SRMIST, KTR. I'm currently learning front end web development and gained some knowledge on c,c++,Java and I love making presentations.</div>

                <div class="social-links">
                    <a href="mailto:ah8892@srmist.edu.in" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/harichandana-aramreddy-b68b4a208/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/HariChandana4902" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="teams">
                <img src="images\male2.svg" alt="">
                <div class="name">Akash Koottungal</div>
                <div class="desig">UI/UX designer</div>
                <div class="about">I am a Computer Science student pursuing my Bachelor's at SRMIST,KTR. I have worked on webpages and have some experience in Android App Development. I am currently learning and practicing Python language and have gained knowledge in C/C++</div>

                <div class="social-links">
                    <a href="mailto:skariaakash7510@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/akash-koottungal-b7367818b/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/ak5749/Akash#akash" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            </div>
        </div>

<%- include("partials/footer") %>
