<%- include('./partials/header') %>

<div style="padding-top:10%; padding-left:20%; justify-content: center;">
<h1>Please Contact admin to change password,Email Address: </h1><br/>
<a style="padding-left: 35%;"href="mailto:sahajghatiya531.sg@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
</div>
<% - include('./partials/footer') %>