
<%- include("partials/header") %>



<form method="post" class="loading-form">
    <button type="submit">Show Mood</button>
</form>

<h1 class="loading-h1">Loading page</h1>

<%- include("partials/footer") %>